


body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  
}


.navbar{
  background-color:white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  color:black;
  padding:0.8rem;
  font-family: Arial, Helvetica, sans-serif ;
  margin-bottom:4em;
 
  -webkit-box-shadow: 0px 8px 5px 0px  rgba(163, 152, 152, 0.75);
  -moz-box-shadow: 0px 8px 5px 0px rgba(163, 152, 152, 0.75);
  box-shadow: 0px 8px 5px 0px  rgba(163, 152, 152, 0.75);
  
 
 
}
.navbar article {
  font-weight:600;
  font-size: 1.4rem;
  /* margin-right:50%; */
 
  width:180%;
  display:flex;
  justify-content: flex-end;
  margin-right:40px;

}
.container{

  text-align: center;
}
.sidebar {
  height: 100%; 
  width: 15%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:  rgb(77, 77, 255); /* Black*/
  overflow-x: hidden; 
  padding-top: 60px; 
  display:flex;
  flex-direction: column;
  gap:4rem;
  color:white;
}
.sidebar a{
  /* margin-left:2rem; */
  display:flex;
  justify-content: center;
  align-items:center;
}
.sidebar a:hover{
  background-color: rgb(43, 43, 150);
  width:180px;
  height:50px;
  margin-left:10px;
  margin-right:0;
  display:flex;
  align-items: center;
  justify-content: center;
}
ul.section1 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


ul.section1 li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul.section1 li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

ul.section1 li h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}


ul.section1 li p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}



