
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  
}
.navbar{
  background-color:white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  color:black;
  padding:0.8rem;
  margin-bottom:4em;
 
  box-shadow: 0px 8px 5px 0px  rgba(163, 152, 152, 0.75);
 
 
}
.navbar article {
  font-weight:600;
  font-size: 1.4rem;
 
  width:180%;
  display:flex;
  justify-content: flex-end;
  margin-right:40px;

}
.container{

  text-align: center;
}
.sidebar {
  height: 100%; 
  width: 15%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:  rgb(77, 77, 255); /* Black*/
  overflow-x: hidden; 
  padding-top: 60px; 
  display:flex;
  flex-direction: column;
  gap:4rem;
  color:white;
}
.sidebar a{
  display:flex;
  justify-content: center;
  align-items:center;
}
.sidebar a:hover{
  background-color: rgb(43, 43, 150);
  width:180px;
  height:50px;
  margin-left:10px;
  margin-right:0;
  display:flex;
  align-items: center;
  justify-content: center;
}




